.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
**/.vscode-test/**
**/.vscode/**
**/*.md
**/test/**
**/docs/**
webpack.config.js
node_modules/**
!node_modules/detect-port/**
!node_modules/open/**
!node_modules/fs-extra/**